/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body {
    min-width: 1480px;

    @include sp {
        min-width: inherit;
    }
}

.l-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    @include sp {
        padding: 0 15px;
    }
}



.orange {
    color: #f39801;
}