/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
    $root: &;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: 460px;
        background: #f39801;
        text-align: center;
        position: relative;
        color: #fff;

        &:first-child {
            background: url(/assets/img/common/bg3.jpg) no-repeat center top #f39801;
            background-size: 100%;

            @include sp {
                background: url(/assets/img/common/bg3_sp.jpg) no-repeat center top #f39801;
                background-size: 100%;

                #{$root}__txt {
                    height: auto !important;
                }
            }
        }



        @include sp {
            width: calc(50% - 7px);

            &:first-child {
                width: 100%;
                margin-bottom: 35px;
            }
        }

        &:hover {
            &::before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border: 1px solid #facc7f;
            transition: .3s;

            @include sp {
                top: 5px;
                left: 5px;
                right: 5px;
                bottom: 5px;
            }
        }

        &__type2 {
            background: #fff;
            color: #3c3c3c;

            &:before {
                border-color: #c8c8c8;
            }

            #{$root}__title {
                h3 {
                    @include sp {
                        font-size: 1.4rem;
                        line-height: 17px;

                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }

            #{$root}__subtitle {
                font-size: 2.7rem;
                padding: 5px 0;
                letter-spacing: 1px;

                @include sp {
                    font-size: 1.3rem;
                    padding: 2px 0;
                }
            }
        }
    }

    &__number {
        a {
            opacity: 1 !important;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 9;
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);

            @include sp {
                width: 42px;
            }
        }
    }

    &__title {
        padding: 65px 0 21px 0;
        display: table;
        width: 100%;
        line-height: 36px;

        @include sp {
            padding: 33px 0 12px 0;
        }

        h3 {
            display: table-cell;
            vertical-align: middle;
            font-size: 3rem;
            font-weight: normal;

            @include sp {
                font-size: 2rem;
            }
        }
    }

    &__subtitle {
        background: url(/assets/img/common/bg2.png) center;
        margin: 0 -10px 0;
        position: relative;
        z-index: 1;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 12px 0;
        color: #fff;
        letter-spacing: 3px;

        @include sp {
            font-size: 1rem;
            padding: 5px 0;
            margin: 0 -5px 0;
            letter-spacing: 1px;
        }

        .fz12 {
            font-size: 1.6rem;

            @include sp {
                font-size: 1rem;
            }
        }

        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 0;
            border-color: transparent #5f95af transparent transparent;
            position: absolute;
            bottom: -10px;
            left: 0;

            @include sp {
                border-width: 0 5px 5px 0;
                bottom: -5px;
            }
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 0;
            border-color: #5f95af transparent transparent transparent;
            position: absolute;
            bottom: -10px;
            right: 0;

            @include sp {
                border-width: 5px 5px 0 0;
                bottom: -5px;
            }
        }
    }

    &__txt {
        padding: 12px 0 25px;
        display: table;
        width: 100%;

        @include sp {
            padding: 12px 0 12px;
        }

        p {
            display: table-cell;
            vertical-align: middle;
            font-size: 1.8rem;

            @include sp {
                font-size: 1rem;
            }

            .fz32 {
                font-size: 3.5rem;
                font-weight: bold;

                @include sp {
                    font-size: 2rem;
                }
            }
        }

        &1 {
            &::before {
                content: "";
                width: 12px;
                height: 16px;
                background: url(/assets/img/common/dot.png) no-repeat center;
                background-size: 100%;
                display: inline-block;
                position: relative;
                margin-right: 6px;

                @include sp {
                    width: 6px;
                    height: 8px;
                    margin-right: 4px;
                }
            }

            &::after {
                content: "";
                width: 12px;
                height: 16px;
                background: url(/assets/img/common/dot.png) no-repeat center;
                background-size: 100%;
                display: inline-block;
                position: relative;
                margin-left: 6px;
                transform: scaleX(-1);

                @include sp {
                    width: 6px;
                    height: 8px;
                    margin-left: 4px;
                }
            }
        }

        &2 {
            font-size: 3.8rem;
            display: inline-block;
            padding: 0 8px;
            position: relative;
            color: #ff1d5c;
            font-weight: 700;
            z-index: 1;
            vertical-align: middle;

            @include sp {
                font-size: 1.5rem;
                padding: 0 2px;
            }

            &:before {
                content: '';
                height: 15px;
                position: absolute;
                bottom: 2px;
                left: 0;
                right: 0;
                background: #ffed5d;
                z-index: -1;

                @include sp {
                    height: 7px;
                }
            }

            span {
                font-size: 1.2rem;
            }
        }
    }
}